@model IEnumerable<QuizApp.Models.Students>

@{
    ViewBag.Title = "Öğrenci Tablosu";
}

<link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
<link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/custom_dt_html5.css">
<link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">
<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-12">
        <div class="table-responsive mb-4 mt-4">
            <div id="zero-config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                <div class="col-sm-12">
                    <table id="datatable" class="table table-hover non-hover dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="html5-extension_info">
                        <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirsName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>


                            <th>
                                @Html.DisplayNameFor(model => model.Mail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>Doğrulandı</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirsName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Mail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @if (item.Verified)
                                    {
                                        <span class="badge badge-success"> Doğrulandı </span>
                                    }
                                    else
                                    {
                                        using (Html.BeginForm())
                                        {
                                            <input type="hidden" name="StudentID" value="@item.StudentID"/>
                                            <button class="btn btn-danger">Doğrula</button>
                                        }
                                    }
                                </td>

                                <td>

                                    <a href="~/Students/Delete/@item.StudentID">
                                        <img src="~/trash.svg"/>
                                    </a>

                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/plugins/table/datatable/datatables.js"></script>
    <!-- NOTE TO Use Copy CSV Excel PDF Print Options You Must Include These Files  -->
    <script src="~/plugins/table/datatable/button-ext/dataTables.buttons.min.js"></script>
    <script src="~/plugins/table/datatable/button-ext/jszip.min.js"></script>
    <script src="~/plugins/table/datatable/button-ext/buttons.html5.min.js"></script>
    <script src="~/plugins/table/datatable/button-ext/buttons.print.min.js"></script>

    <script>
        $('#datatable').DataTable({
            dom: '<"row"<"col-md-12"<"row"<"col-md-6"B><"col-md-6"f> > ><"col-md-12"rt> <"col-md-12"<"row"<"col-md-5"i><"col-md-7"p>>> >',
            buttons: {
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        titleAttr: 'Excel',
                        className: 'btn btn-outline-secondary'
                    }
                ]
            },
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Showing page _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Ara...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [7, 10, 20, 50],
            "pageLength": 7
        });
    </script>
}