@using QuizApp.Models
@model QuizApp.Models.Class

@{
    ViewBag.Title = Model.Name + " Detaylar";
    var db = new DBContext();
}


<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-6">
        <a href="~/classes/delete/@Model.ClassID" class="btn btn-danger float-right">

            <img src="~/trash.svg"/>
        </a>

        <h4>@Model.Name</h4>
        <hr/>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.QuizLib)
            </dt>

            <dd>
                @{
                    if (Model.QuizLib != null)
                    {
                        var QuizLibFinder = Model.QuizLib.Split('|').ToArray();
                        foreach (var Quiz in QuizLibFinder)
                        {
                            if (!string.IsNullOrEmpty(Quiz))
                            {
                                var ID = Convert.ToInt32(Quiz);
                                var LibFind = db.QuizLibrary.Find(ID);
                                <p class="card-text">@LibFind.Name</p>
                            }
                        }
                    }


                }

            </dd>
            <dt>
                Başlangıç Ve Bitiş Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt></dt>
            <dd>
                <a href="~/classes/sender/@Model.ClassID" class="btn btn-success text-center ">
                    <p>Mail Gönder </p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
                        <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline>
                    </svg>
                </a>
            </dd>

        </dl>

    </div>
</div>